@{
    ViewData["Title"] = "Home Page";
}

<img src="images/kfhtower.jpg" />

<style>
    .display-4 {
        color: darkgreen;
    }
</style>
<h1 class="display-4">Kuwait Finance House</h1>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<style>

    img{
        height : 400px;
        width : 100%;
        margin = 0;
    }
</style>
